.redText {
    color: red !important;
}

.greenText {
    color: green !important;
}

.blueText {
    color: blue !important;
}

.grayText {
    color: gray !important;
}

.whiteText {
    color: white !important;
}