.opened-position-table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    width: 100%;
}

.opened-position-thead {
    background-color: rgb(228 240 245);
}

.opened-position-cell {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
}

.opened-position-green-text{
    color: green;
    font-weight: bold;
}

.opened-position-red-text{
    color: red;
    font-weight: bold;
}